@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", serif;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    font-weight: 400;
}

header {
    background-color: #4962D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logoimg {
    padding: 10px;
    animation: bob 5s infinite ease-in-out;
}

ul {
    display: flex;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 35px;
}

a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

main {
    background: linear-gradient(to right, #2D3C82, #071A71,#4962D6 );
    padding: 0 5% 5% 5%;

}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #071a7149;
    flex-direction: row-reverse;
    border: 5px white solid;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 5%;
}

h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-bottom: 2%;
}

.text {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-right: 2%;
}

.textul {
    list-style: circle;
}

.Fotoimg {
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    background-color: #071A71;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFoot {
    display: flex;
    align-items: center;
}

.logoimgFoot {
    padding: 10px;
}

.logoimgFoot:hover {
    animation: bob 3s infinite ease-in-out;
}

h6 {
    color: white;
}

.icons {
    display: flex;
    align-items: center;
}

.iconsimg {
    width: 80%;
}

@keyframes bob {
    0%, 100% {
        transform: rotate(0);
    }

    25%, 75% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }
}

